<!DOCTYPE html>
<html>
<style type="text/css">
	header{
		
		height: 100px;
		background-color: lightblue;
		text-align: center;

}
	body{

		background-color:lightblue;
	}

.bu{
	 background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   	margin-left: 200px;
}


</style>
<head>
	<title>RENFE</title>
</head>
<header>
	<h1>BIENVENIDOA A RENFE</h1>
</header>
<body>

	<form action="/opcion/ida">
    	<input type="submit" class="bu" id="b_ida" value= "IDA" >
	</form>
	<form action="/opcion/idayvuelta">
    	<input type="submit" class="bu" id="b_idavuelta" value= "IDA/VUELTA" >
	</form>
	<form action="/opcion/mensual">
    	<input type="submit" class="bu" id="b_mensual" value="BONO MENSUAL">
	</form>
	
</body>
</html>
